*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body{
    background-color: #08172E;
    overflow-x:hidden;
}

/* TEXTOS */
h1{
    font-size: 9vh;
    font-weight: 400;
    margin-left: -8px;
}

h5{
    font-size: 5.4vh;
    font-weight: 400;
    margin-left: -5px;
}

p{
    font-size: 2.2vh;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 3vh;
    color: rgb(216, 216, 216);
}

p b{
    font-weight: 500;
}

.btn{
    background-color: #CC9463;
    padding: 1.8vh 5vh;
    font-size: 2.1vh;
    font-weight: 600;
    text-decoration: none;
    border-radius: 12px;
    width: fit-content;
    transition: 0.2s;
}

.btn:hover{
    background-color: #dfa878;
}

span{
    color: #CC9463;
}

/* BLOCO 1 */
.bloco-1{
    background-image: url(../imgs/bg-1.png), url('../imgs/bolinhas-1.png');
    background-position: right top, left center;
    background-repeat: no-repeat;
    background-size: 50%, 9%;
    height: 100vh;
}

.bloco-1 .container{
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    margin: auto;
    padding: 30px;
}

.bloco-1 .container img{
    width: 17vw;
    min-width: 230px;
}

.bloco-1 .container h1{
    margin-top: 20vh;
}

.bloco-1 .container p{
    max-width: 500px;
    margin-top: 20px;
}

.bloco-1 .container a{
    margin-top: 35px;
}

/* BLOCO 2 */
.bloco-2{
    background-image: url('../imgs/bg-2.png'), url('../imgs/bolinhas-4.png');
    background-position: -50px center, right top;
    background-repeat: no-repeat;
    background-size: 45%, 6%;
}

.bloco-2 .container{
    display: flex;
    max-width: 65vw;
    margin: auto;
    padding: 15vw 30px;
}

.bloco-2 p{
    width: 50%;
    margin-left: auto;
    text-align: justify;
}

/* BLOCO 3 */
.bloco-3{
    background-image: url('../imgs/bg-3.png'), url('../imgs/bolinhas-5.png');
    background-position: right center, left top;
    background-repeat: no-repeat;
    background-size: 45%, 18%;
}

.bloco-3 .container{
    display: flex;
    max-width: 65vw;
    margin: auto;
    padding: 15vw 30px;
}

.bloco-3 p{
    width: 50%;
    margin-right: auto;
    text-align: justify;
}

/* BLOCO 4 */
.bloco-4{
    background-image: url('../imgs/bolinhas-2.png'), url('../imgs/bolinhas-3.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    background-size: 9%, 13%;
}

.bloco-4 .container{
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    margin: auto;
    padding: 30px;
}

.bloco-4 .container .box{
    padding: 45px 0;
}

.bloco-4 .container .box h5{
    padding-bottom: 15px;
}

.bloco-4 .container .box div{
    padding: 12px 35px;
    background-image: url('../imgs/arrow.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.bloco-4 .container .box div p{
    font-size: 2.5vh;
    color: #fff;
    margin-top: 0px;
}

/* BLOCO 5 */
.bloco-5 .container{
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    margin: auto;
    padding: 30px;
}

.bloco-5 .container .grid{
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
}

.bloco-5 .container .grid .card{
    border: solid #CC9463 2px;
    margin: 0 15px;
    text-align: center;
    padding: 0 9% 9% 9%;
    display: flex;
    flex-direction: column;
}

.bloco-5 .container .grid .card img{
    width: 40%;
    margin: -16% auto 0 auto;
}

.bloco-5 .container .grid .card p{
    margin: auto;
    padding-top: 2%;
}

.bloco-5 .container #text{
    margin-top: 50px;
    text-align: justify;
}

/* BLOCO 6 */
.bloco-6{
    background-image: url('../imgs/bg-4.png'), url('../imgs/bolinhas-4.png');
    background-position: right center, left top;
    background-repeat: no-repeat;
    background-size: 45%, 6%;
}

.bloco-6 .container{
    display: flex;
    max-width: 65vw;
    margin: auto;
    padding: 15vw 30px;
}

.bloco-6 .box{
    width: 50%;
    margin-right: auto;
    text-align: justify;
}

.bloco-6 .box form input{
    width: 100%;
    color: #08172E;
    height: 5.5vh;
    outline: none;
    margin-top: 25px;
    border: 0;
    border-radius: 0;
    padding-left: 20px;
}

.bloco-6 .box form input::placeholder{
    font-size: 2vh;
}

.bloco-6 .box form button{
    width: 100%;
    margin-top: 25px;
    border: 0;
    border-radius: 0;
    height: 5.5vh;
    background-color: #CC9463;
    font-size: 2vh;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.bloco-6 .box form button:hover{
    background-color: #dfa878;
}

/* BLOCO 7 */
.bloco-7{
    background-image: url('../imgs/bolinhas-5.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 18%;
}

.bloco-7 .container{
    display: flex;
    max-width: 65vw;
    margin: auto;
    padding: 30px;
}

.bloco-7 .container .grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.bloco-7 .container .grid img{
    width: 75%;
}

.bloco-7 .container .grid p{
    margin: auto;
    text-align: justify;
}

.bloco-7 .container .grid p span{
    font-size: 1.5em;
    font-weight: 500;
}

/* BLOCO 8 */
.bloco-8{
    background-image: url('../imgs/bg-5.png'), url('../imgs/bolinhas-1.png');
    background-position: right center, left top;
    background-repeat: no-repeat;
    background-size: 45%, 9%;
}

.bloco-8 .container{
    display: flex;
    max-width: 65vw;
    margin: auto;
    padding: 15vw 30px;
}

.bloco-8 p{
    width: 50%;
    margin-right: auto;
    text-align: justify;
}

/* BLOCO 9 */
.bloco-9{
    background-image: url('../imgs/bg-6.png'), url('../imgs/bolinhas-5.png');
    background-position: left center, left top;
    background-repeat: no-repeat;
    background-size: 45%, 18%;
}

.bloco-9 .container{
    display: flex;
    max-width: 65vw;
    margin: auto;
    padding: 15vw 30px;
}

.bloco-9 p{
    width: 50%;
    margin-left: auto;
    text-align: justify;
}

/* FOOTER */
footer{
    background-image: url('../imgs/bolinhas-4.png'), url('../imgs/bolinhas-3.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    background-size: 6%, 13%;
    height: 75vh;
}

footer .container{
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    margin: auto;
    padding: 30px;
    height: 100%;
}

footer .container .box{
    margin: auto 0;
}

footer .container .box img{
    width: 20vw;
    min-width: 230px;
}

footer .container .box div{
    padding: 12px 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    margin-top: 4vh;
}

.mobile{
    display: none;
    width: 100% !important;
    margin-top: 45px;
}

/* media: BLOCO 1 */
@media only screen and (max-width: 900px) {
    .bloco-1, .bloco-2, .bloco-3, .bloco-4, .bloco-5, .bloco-6, .bloco-7, .bloco-8, .bloco-9, footer{
        background-image: none;
    }
    
    .bloco-1 .container, .bloco-2 .container, .bloco-3 .container, .bloco-4 .container, .bloco-5 .container, 
    .bloco-6 .container, .bloco-7 .container, .bloco-8 .container, .bloco-9 .container, footer .container{
        max-width: 100vw;
        flex-direction: column;
    }

    .bloco-2 p, .bloco-3 p, .bloco-6 .box, .bloco-8 p, .bloco-9 p{
        width: 100%;
    }

    .bloco-5 .container .grid{
        grid-template-columns: 100%;
    }

    .bloco-5 .container .grid .card{
        margin-bottom: 35px;
    }

    .bloco-7 .container .grid{
        grid-template-columns: 100%;
        margin: auto;
    }

    .bloco-7 .container .grid img:first-child{
        display: none;
    }

    /*---------------------------------------*/

    .bloco-1 .container h1{
        margin-top: 10vh;
    }

    .bloco-1{
        height: auto;
    }

    .mobile{
        display: inline !important;
    }
    }